@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container-flex">
    <div class="body-content-left">
        @await Component.InvokeAsync("Sidebar")
    </div>
    <div class="body-content-right">
        @RenderBody()
    </div>
</div>
