@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container-flex">
    <div class="body-content-left" id="sidebarFolders">
        @await Component.InvokeAsync("MailFolders", new {viewName="SidebarAsync"})
    </div>
    <div class="body-content-right">    
        <div id="MailList">
            @RenderBody()
        </div>
        <div class="modal fade" id="actionStatus" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" id="statusBody"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeButton">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="hidden" data-toggle="modal" data-target="#actionStatus" id="modalButton"/>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function fetchdata(){
        $('a[folder-name]').each(function() {
            var folderName = $(this).attr("folder-name");
           // alert(folderName);
    // `this` is the div
    //return;
    var folderName = $(this).attr("folder-name");
    $.ajax({
        url: "MailBox/UpdateCachedMails",
        data: { folder: folderName },
        contentType: 'text/html; charset=utf-8',
        type: 'GET'
    });
});
}

$(document).ready(function(){
 setInterval(fetchdata,300000);
});
</script>
