@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container-flex">
    <div class="body-content-left">
        @await Component.InvokeAsync("MailFolders", new {viewName="Sidebar"})
    </div>
    <div class="body-content-right">
        <h3 class="text-danger">
            @TempData["ErrorMessage"]
        </h3>
        @RenderBody()
    </div>
</div>
