@model string
@{
    ViewData["Title"] = "Webmail";
}

<h3>Select folder</h3>
@if(Model != null) {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script>
    $(document).ready(function () {
        $.ajax({
            url: "MailBox/Send",
            data: {replyTo: "@Model"},
            type: 'GET',
            ajaxSend: $('#MailList').html('<div class="text-center block"><img src="images/ajax-loader.gif" alt="Loading mails"/></div>'),
            success: 
                function (data) {
                $('#MailList').html(data); 
            },
            error: function (obj) {
                alert('Something happened');
            }
        });
    });
    </script>
}