@using JanuszMail.Models;
@model PagedList.Core.IPagedList<Mail>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@foreach (var item in Model) {
    <table class="table">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>

            <td>
                @{
    var envelope =item.IsRead ? "fa-envelope-open" : "fa-envelope";
}
                <span class="fa @envelope">
                </span>
            </td>
        </tr>
     </table>
}
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount