@model IEnumerable<string>
<form enctype="text/plain" class="form-inline async-form" asp-controller="MailBox" method="POST" asp-action="Index">
  <div class="input-group">
    <input type="hidden" name="id" value="@ViewData["Id"]"/>
    <input type="hidden" name="folder" id="currentFolderName" value="@ViewData["Folder"]"/>
    <label class="control-label">Select folder</label>
    <select name="destFolder">
      @foreach(var item in Model) {
        <option>@item</option>
      }
    </select>
    <button class="btn btn-warning async-button" type="submit" formaction="MoveToFolder">
      <strong>Move to folder</strong>
    </button>
    <button class="btn btn-danger async-button" type="submit" formaction="Delete">
      <strong>Delete&nbsp;</strong><span class="fa fa-trash"/>
    </button>
    <a class="btn btn-primary partial-button" asp-controller="Mailbox" asp-action="Send" asp-route-replyTo="@ViewData["ReplyTo"]">
      <strong>Reply&nbsp; <span class="fa fa-reply"/></strong>
    </a>
  </div>
</form>
<script src="~/js/Mailbox/detail-utils.js"/>
