@model IList<string>
<div class="navbar navbar-static-top navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
                <a asp-area="" class="btn-success btn btn-block nav-partial"  asp-controller="Mailbox" asp-action="Send" asp-route-folder="@ViewData["Folder"]" >
                    <strong>Create new message</strong>
                </a>
        <ul class="nav">
            <li class="sidebar-search" id="sidebarSearch">
                    <div class="form-group">
                    <label class="control-label">Search by</label>
                    <select id="searchBy" class="form-control">
                        <option value="subject">Subject</option>
                        <option value="sender">Sender</option>
                    </select>
                    </div>
                    <div class="input-group custom-search-form">
                    <input type="text" class="form-control" id="searchText" placeholder="Search...">
                    <span class="input-group-btn">
                    <button id="searchButton" class="btn btn-default disabled" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
            </li>
            @if (Model != null)
            {
            @foreach (var item in Model) {
                <li>
                    <a class="nav-folder" folder-name="@item" href="#" >
                        <span class="fa fa-fw"></span>
                        @if (item.Equals(ViewData["Folder"])){
                            <strong>@item</strong>
                        }
                        else{
                            @item
                        }
                    </a>
                </li>
            }
            }
            else {
                <li class="text-center"><h5>No folders to display</h5></li>
            }
            <li>
                <button class="async-reload-folders btn btn-primary btn-block"><strong>Refresh</strong><span class="fa fa-fw"/><span class="fa fa-refresh"></span></button>
            </li>
        </ul>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="~/js/Mailbox/layout.js"></script>
